:root {
  --card-color-power: #e3e6ff;
  --card-color-hit: #ffc2c2;
  --button-color-hit: #f06148;
  --button-color-power: #48c7f0;
}

.Card {
  /* width: 20%; */
  margin: 15px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
}

.power:hover { background-color: var(--card-color-power); border-color: var(--card-color-power); }
.hit:hover { background-color: var(--card-color-hit); border-color: var(--card-color-hit); }

.button {
  cursor: pointer;
  background-color: white;
  font: inherit;
  border: 2px solid;
  padding: 8px;
  border-radius: 5px;
}

.button:hover {
  color: white;
  font: inherit;
  padding: 8px;
}

.button__hit { border-color: var(--button-color-hit)}
.button__hit:hover { background-color: var(--button-color-hit); }

.button__power { border-color: var(--button-color-power)}
.button__power:hover { background-color: var(--button-color-power); }
